{% extends 'base.html' %}
{% block conteudo %}
<body>
    <div class="filter-container">
        <h1 style="font-family: Verdana, sans-serif; font-weight: 600;">Bem-vindo, {{ current_user.username }}</h1>
        <form method="POST" action="{{ url_for('filter') }}">
            <label for="mercado" style="display: inline-block; width: 172px; margin-right: 10px; font-family: Arial, sans-serif; font-weight: 600;">Selecione o Mercado: </label>
            <select class="form-select" id="market" name="market" style="display: inline-block; width: 150px; margin-bottom: 10px;">
                {% for mercado in markets %}
                <option value="{{ mercado[0] }}">{{ mercado[0] }}</option>
                {% endfor %}
            </select><br>
            <div class="input-group">
                <span class="input-group-text" style="background-color: lightgrey;">Data início</span>
                <input class="form-control" type="number" id="start_month" name="start_month" min="1" max="12" required>
                <input class="form-control" type="number" id="start_year" name="start_year" min="{{ year_min }}" max="{{ year_max }}" required>
            </div>
            <div class="input-group">
                <span class="input-group-text" style="background-color: lightgrey;">Data fim</span>
                <input class="form-control" type="number" id="end_month" name="end_month" min="1" max="12" required>
                <input class="form-control" type="number" id="end_year" name="end_year" min="{{ year_min }}" max="{{ year_max }}" required>
            </div>
            <button class="btn btn-primary" type="submit">Filtrar</button>
        </form>
    </div>
</body>
</html>
{% endblock conteudo %}