<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h2>Resultados</h2>
    <table>
        <thead>
            <tr>
                <th>Ano</th>
                <th>Mês</th>
                <th>Mercado</th>
                <th>RPK</th>
            </tr>
        </thead>
        <tbody>
            {% for voo in voos %}
            <tr>
                <td>{{ voo.ano }}</td>
                <td>{{ voo.mes }}</td>
                <td>{{ voo.mercado }}</td>
                <td>{{ voo.rpk }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

     <!-- Gráfico de RPK -->
        <div id="rpk-chart"></div>
        <script>
            // Gera os dados X e Y usando Jinja
            var xData = [
                {% for voo in voos %}
                    '{{ voo.ano }}-{{ voo.mes }}'{{ "," if not loop.last }}
                {% endfor %}
            ];
            
            var yData = [
                {% for voo in voos %}
                    {{ voo.rpk }}{{ "," if not loop.last }}
                {% endfor %}
            ];

            // Dados do gráfico
            var data = [{
                x: xData,
                y: yData,
                type: 'scatter'
            }];

            // Criação do gráfico com Plotly
            Plotly.newPlot('rpk-chart', data);
        </script>
 </body>
 </html>
